{% extends "index.html" %}
{% load static %}
{% block nav_customer %}active{% endblock %}
{% block nav_user %}active{% endblock %}
{% block head %}
<title>爬虫数据展示</title>
<link href="/static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
{#<link href="/static/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">#}
<link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}

{% block re_content %}
    <div class="row">
        <div class="row">
            <div class="col-lg-6">
                <div class="hr-line-dashed"></div>
                <p><span class="label label-primary">账户信息</span></p>
                <div class="hr-line-dashed"></div>
                <div class="input-group" style = "width:770px;">
{#                    <input type="text" placeholder="输入用户名" class="form-control">#}
                    <input type="text" class="form-control" placeholder="输入用户名" required="" id="UserName">
                </div>
                <div class="hr-line-dashed"></div>
                <div class="input-group" style = "width:770px;">
{#                   <input type="text" placeholder="输入密码" class="form-control">#}
                    <input type="password" class="form-control" placeholder="输入密码" required="" id="PassWord">
                </div>
                <div class="hr-line-dashed"></div>
                <div class="input-group" style = "width:770px;">
                    <input type="email" class="form-control" placeholder="Email" required="" id="Email">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hr-line-dashed"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <p><span class="label label-primary">权限设置</span></p>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>默认不是VIP</td>
                            <td>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="vip">
                                        <label class="onoffswitch-label" for="vip">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% if request.user.is_superuser %}
                        <tr>
                            <td>默认不是管理员</td>
                            <td>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="is_staff">
                                        <label class="onoffswitch-label" for="is_staff">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>默认不是管理员</td>
                            <td>
                                <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" disabled class="onoffswitch-checkbox" id="is_staff">
                                    <label class="onoffswitch-label" for="is_staff">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>默认激活状态</td>
                            <td>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="is_active">
                                        <label class="onoffswitch-label" for="is_active">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <p>
                        <button id="tijiao" type="button" class="btn btn-primary block full-width m-b">确认提交</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/plugins/switchery/switchery.js"></script>
<script src="/static/js/tishikuang.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
{% endblock %}


{% block scripts %}
    <script>
        $(function () {
	        $("#tijiao").click(function () {
	        	var UserName = $("input[id='UserName']").val();
	        	var PassWord = $("input[id='PassWord']").val();
	        	var Email = $("input[id='Email']").val();
                var vip = document.getElementById("vip").checked;
                var is_staff = document.getElementById("is_staff").checked;
                var is_active = document.getElementById("is_active").checked;
                console.log(UserName,PassWord,Email,vip,is_staff,is_active)
                var Postdata = {
                    'UserName': UserName,
                    'PassWord': PassWord,
                    'Email': Email,
                    'vip': vip,
                    'is_staff': is_staff,
                    'is_active': is_active,
                }
                if (UserName=='')
                {
                    toastr.error('请输入用户名！！！！')
                }
                else if (PassWord=='' ){ //这里还要判断密码长度
                    toastr.error('请输入密码！！！！')
                }
                 else if (Email==''){
                    toastr.error('请输入Email！！！！')
                }else {
	                swal({
			                title: "确定要创建这个用户吗？",
			                //text: "删除后可就无法恢复了。",
			                //type: "warning",
			                imageUrl: "/static/img/inquiry.png",
			                imageSize: "120x120",
			                showCancelButton: true,
			                closeOnConfirm: false,
			                confirmButtonText: "确定",
			                confirmButtonColor: "#ec6c62",
			                cancelButtonText: "再考虑下",
			                allowEscapeKey: true,
		                },
		                function (isConfirm) {
			                if (!isConfirm) return;
			                $.ajax({
				                type: "post",
				                url: '/api_add_user/',
				                data: JSON.stringify(Postdata),
				                success: function (data) {
					                console.log(data)
					                if (data.status == '1') {
						                swal({
							                title: "提交成功",
							                text: "这个用户已经添加好啦。",
							                imageUrl: "/static/img/success.png",
							                imageSize: "120x120",
						                })
					                } else {
						                swal("出错啦。。。", data.msg, "error");
					                }
				                },
				                error: function () {  // ajax请求失败
					                swal({
						                title: "请联系运维小哥哥",
						                imageUrl: "/static/img/error.jpg",
						                imageSize: "140x140",
					                });
				                }
			                })
		                })
                }
	        })
        })
    </script>

{% endblock %}

