{% extends "index.html" %}
{% load static %}
{% block nav_article %}active{% endblock %}
{#{% block nav_mondaq %}active{% endblock %}#}
{% block head %}
<title>爬虫数据展示</title>
<link href="/static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block re_content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">作者：{% if authors == ''  %}无名氏{% else %}{{ authors }}{% endif %}</button>
                    </div>
                    <div class="pull-left">
                        <span class="label label-primary">已翻译</span>
                    </div>
                    <div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i>时间:{{ article_time }}</span>
                        <h1>
                            {{ req }}
                        </h1>
                        <div style="text-align:left;" >
                        {{ content|safe }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签:</h5>
                            <button class="btn btn-primary btn-xs" type="button">{% if tags == ''  %}暂无标签{% else %}{{ tags }}{% endif %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/inspinia.js"></script>
    <script src="/static/js/plugins/pace/pace.min.js"></script>
{% endblock %}

{% block scripts %}

{% endblock %}